/* CUSTOM FONTS */
@font-face {
    font-family: "RobotoLight";
    src: url(Roboto-Light.ttf)
}

@font-face {
    font-family: "RobotoThin";
    src: url(Roboto-Thin.ttf)
}

@font-face {
    font-family: "CormorantGLight";
    src: url(CormorantGaramond-Light.ttf);
}

@font-face {
    font-family: "CormorantGLItalic";
    src: url(CormorantGaramond-LightItalic.ttf);
}

@font-face {
    font-family: "CormorantGRegular";
    src: url(CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: "CormorantGItalic";
    src: url(CormorantGaramond-Italic.ttf);
}

/* KEYFRAMES */

@keyframes fade-down {
    0% {
        opactiy: 0;
        transform: translateY(-800px) scale(0.4);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



/* MAIN BODY ELEMENTS */
body {
    background-color: whitesmoke;
}

nav {
    font-family: "RobotoLight";
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 45px;
    margin-top: 20px;
}

h1 {
    font-family: "RobotoLight";
}

h2 {
    font-family: "RobotoLight";
}

h3 {
    font-family: "RobotoThin";
}

p {
    font-family: "CormorantGRegular";
    font-size: 16px;
    margin-left: 65px;
    text-align: justify;
}

p:hover {
    cursor:default;

}

a:link {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease-in-out;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: rgb(28, 117, 233);
}

a:hover {
    text-decoration: none;
    color: rgb(28, 117, 233);
}

input[type=text], select, textarea {
    font-family: "RobotoLight";
    width: 50%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;

}

input[type=email] {
    font-family: "RobotoLight";
    width: 50%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=submit] {
    font-family: "RobotoLight";
    background-color: rgb(28, 117, 233);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(13, 78, 162);
    transition: color 0.5s ease-in-out;
  }

  textarea[id=subject] {
    font-family: "RobotoLight";
    width: 50%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

/* DIV CLASSES */

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: 65px;
}

.text {
    font-family: "RobotoLight";
    font-size: 16px;
    display: flex;
    margin-left: 65px;
}

.text:hover {
    cursor: default;
}

.paragraph {
    font-family: "CormorantGRegular";
    font-size: 16px;
    display: flex;
    margin-left: 65px;

}

.hotdog {
    display: flex;
    justify-content: right;
    position:fixed;
    bottom:0px;
    left:50%;
}

.hotdogPortfolio {
    display: flex;
    justify-content: right;
    position: sticky;
    bottom:0px;
    left:50%;
}

.project {
    font-family: "CormorantGRegular";
    font-size: 16px;
    margin-left: 65px;
    margin-top: 55px;
    border: solid .02px;
    box-shadow: 10px 5px 5px lightgray;
    border-color: lightgrey;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.project2 {
    font-family: "CormorantGRegular";
    font-size: 16px;
    margin-top: 15px;
    margin-left: 65px;
    border: solid .02px;
    box-shadow: 10px 5px 5px lightgray;
    border-color: lightgrey;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.project3 {
    font-family: "CormorantGRegular";
    font-size: 16px;
    margin-top: 15px;
    margin-left: 65px;
    border: solid .02px;
    box-shadow: 10px 5px 5px lightgray;
    border-color: lightgrey;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}


.footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;

}


/* FUNCTION IN GRAVEYARD */
/* .delayedParagraph {
    font-family: "CormorantGRegular";
    font-size: 16px;
    display: flex;
    margin-left: 65px;
    
}*/


/* ATTRIBUTE ID'S */

#myName {
    display: flex;
    margin-top: 30px;
    margin-left: 65px;
}

#portfolio {
    font-family: "RobotoLight";
    padding: 10px;
    margin-top: 15px;
    margin-left: 65px;
    position: relative;
}

#portfolioContent {
    font-family: "CormorantGRegular";
    font-size: 16px;
    display: flex;
    margin-left: 25px;
    width:50%;
    word-wrap: break-word;
    position: relative;
}

#project1 {
    width: 240px;
    height: 240px;
    float: right;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 2px;
}

#project2 {
    width: 240px;
    height: 240px;
    float: right;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 2px;
}

#project3 {
    width: 240px;
    height: 240px;
    float: right;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 2px;
}

#portfolio:hover {
    color: rgb(28, 117, 233);
    transition: color 0.5s ease-in-out;
}

#navHome {
    animation: fade-down 0.5s;
}

#blue {
    color: rgb(28, 117, 233);
}

#green {
    color: rgb(52, 168, 83);
}